@font-face {
	font-family: 'Nexa Script Heavy';
	src: url('../fonts/nexa_script_heavy.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/nexa_script_heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/nexa_script_heavy.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/nexa_script_heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/nexa_script_heavy.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/nexa_script_heavy.svg#nexa_script_heavy') format('svg'); /* Chrome < 4, Legacy iOS */
}